*~
*.o
*.d
*.map
.deps
.gdb_history
.libs
.stamp
.unpacked
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/*
aux/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
TAGS
ID
GPATH
GRTAGS
GSYMS
GTAGS
