*~
*.o
*.d
*.map
.deps
.libs
.stamp
.unpacked
Makefile
Makefile.in
aclocal.m4
ar-lib
/autom4te.cache/*
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
misc/
missing
stamp-h1
uftpd
debian/files
debian/uftpd.*
TAGS
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/CHANGELOG.html
/README.html
/uftpd.html
/tok
/uftp
