# Travis CI integration
# Defaults to GNU GCC and autotools: ./configure && make && make test
language: c

# Use docker for quicker builds, it now allows https://docs.travis-ci.com/user/apt/
sudo: false

# Test build with both GCC and Clang (LLVM)
compiler:
  - gcc
  - clang

env:
  global:
   # The next declaration is the encrypted COVERITY_SCAN_TOKEN, created
   #   via the "travis encrypt" command using the project repo's public key
   - secure: "PQuj5u9r9J22UAgjeu0unfZewE48Y1PFmzD+o3QHpc/lPqFoDKvUY+pjAOsCXuV4DBORLGLKs+oZBFmb1yliBZBm6nO1Yj2JutlwyFRKUBTJkEi5Xn12adAYRI0THaQ5/b0kKPonxOuA/4ksoC2myqX7izz+Z6qKgSwJanKHrvA="

addons:
  apt:
    packages:
      - tree
      - ftp
      - tftp-hpa
  coverity_scan:
    project:
      name: "troglobit/uftpd"
      description: "uftpd -- the no nonsense (T)FTP server"
    notification_email: troglobit@gmail.com
    build_command_prepend: "./autogen.sh && PKG_CONFIG_PATH=/tmp/lib/pkgconfig ./configure --disable-silent-rules --prefix="
    build_command: "make -j5 clean all"
    branch_pattern: dev

install:
  - wget https://github.com/troglobit/libuev/releases/download/v2.3.1/libuev-2.3.1.tar.xz
  - wget https://github.com/troglobit/libite/releases/download/v2.2.0/libite-2.2.0.tar.xz
  - tar xf libuev-2.3.1.tar.xz
  - tar xf libite-2.2.0.tar.xz
  - (cd libuev-2.3.1 && ./configure --prefix=/tmp && make && make install-strip)
  - (cd libite-2.2.0 && ./configure --prefix=/tmp && make && make install-strip)

script:
  - ./autogen.sh
  - PKG_CONFIG_PATH=/tmp/lib/pkgconfig ./configure --disable-silent-rules --prefix=
  - make clean
  - make -j5
  - tftp -h
  - PKG_CONFIG_PATH=/tmp/lib/pkgconfig make check || cat tests/start.log tests/tftp.log
  - DESTDIR=~/tmp make install-strip
  - tree ~/tmp
  - ldd ~/tmp/sbin/uftpd
  - LD_LIBRARY_PATH=/tmp/lib ~/tmp/sbin/uftpd -h
