#!/usr/bin/make -f
# Simple debian/rules that uses debhelper(7).
# GNU copyright 1997 by Joey Hess.
.PHONY: build clean binary-indep binary-arch binary install

build:
	dh_testdir
	dh_auto_configure
	dh_auto_build

clean:
	dh_testdir
	dh_testroot
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_auto_install

binary-indep: build install
	dh_installdocs
	dh_installdebconf
	dh_installman
	dh_installchangelogs

binary-arch: build install
	dh_strip
	rm -f debian/uftpd/usr/share/doc/uftpd/LICENSE
	rm -f debian/uftpd/usr/share/doc/uftpd/ChangeLog.md
	dh_compress
	dh_fixperms
	dh_installdebconf
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
